@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  &__container {
    text-align: right;
  }
  &__name {
    color: #444444;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      animation: 500ms cubic-bezier(.4,.74,.3,1.4) fadeIn 350ms backwards;
    }
  }
  &__title {
    color: #444444;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      animation: 500ms cubic-bezier(.4,.74,.3,1.4) fadeIn 400ms backwards;
    }
  }
  &__link {
    display: inline-block;
    background: none;
    border: 1px solid #E5E5E5;
    color: #444444;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    margin: 32px 0;
    padding: 8px 24px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      animation: 500ms cubic-bezier(.4,.74,.3,1.4) fadeIn 450ms backwards;
      transition: background 250ms ease-out, color 150ms ease-out;
      &:hover {
        background: #85B3FF;
        color: #FFFFFF;
      }
      &:focus {
        background: #85B3FF;
        color: #FFFFFF;
      }
    }
  }
}

.hamburger {
  position: fixed;
  background: none;
  border: 0;
  padding: 0;
  top: 20px;
  right: 20px;
  z-index: 1;
  &--active &__bar {
    &:first-child {
      transform: rotate(135deg) translate(6px, -6px);
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(45deg) translate(-5px, -6px);
      opacity: 0;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__bar {
    display: block;
    background: #444444;
    width: 30px;
    height: 3px;
    transition: transform 250ms ease-out, opacity 150ms ease-out;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
}

.navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translateX(100vw);
  transition: transform 250ms ease-out, opacity 250ms ease-out;
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    max-width: 1200px;
    height: 50px;
    top: 0;
    opacity: 1;
    transform: translateX(0);
  }
  &__list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      background: #FFFFFF;
    }
  }
  &__item {
    margin: 48px 0;
    padding: 10px 15px;
    @media screen and (min-width: 768px) {
      margin: 8px 16px;
      &:first-child {
        animation: 400ms cubic-bezier(.4,.74,.3,1.4) bounce 700ms backwards;
      }
      &:nth-child(2) {
        animation: 400ms cubic-bezier(.4,.74,.3,1.4) bounce 800ms backwards;
      }
      &:nth-child(3) {
        animation: 400ms cubic-bezier(.4,.74,.3,1.4) bounce 900ms backwards;
      }
      &:last-child {
        animation: 400ms cubic-bezier(.4,.74,.3,1.4) bounce 1s backwards;
      }
    }
  }
  &__link {
    color: #444444;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      transition: color 150ms ease-out;
      &:hover {
        color: #85B3FF;
      }
      &:focus {
        color: #85B3FF;
      }
    }
  }
  &--active {
    opacity: 1;
    transform: translateX(0);
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  text-align: center;
  padding-top: 48px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  &__item {
    width: 350px;
    margin: 24px;
  }
  &__title {
    color: #444444;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }
  &__project {
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0;
  }
  &__image {
    margin: 0;
    @media screen and (min-width: 768px) {
      height: 175px;
    }
  }
  &__paragraph {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 0;
    &--project {
      @media screen and (min-width: 768px) {
        min-height: 160px;
      }
    }
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  &__link {
    color: #444444;
    font-size: 16px;
    text-decoration: none;
    margin: 4px;
  }
}

.form {
  width: 325px;
  margin: 0 auto;
  &__paragraph {
    text-align: left;
  }
  &__label {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
  }
  &__input {
    border: 1px solid #E5E5E5;
    width: 325px;
    height: 35px;
  }
  &__message {
    border: 1px solid #E5E5E5;
    width: 325px;
    height: 300px;
  }
  &__submit {
    background: none;
    color: #444444;
    font-size: 14px;
    font-weight: 300;
    background: none;
    border: 1px solid #E5E5E5;
    width: 130px;
    height: 35px;
    @media screen and (min-width: 768px) {
      transition: background 250ms ease-out, color 150ms ease-out;
      &:hover {
        background: #85B3FF;
        color: #FFFFFF;
      }
      &:focus {
        background: #85B3FF;
        color: #FFFFFF;
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 32px;
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin: 0 16px;
    }
  }
  &__image {
    margin: 4px 0;
  }
  &__link {
    color: #444444;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    margin: 8px;
  }
  &__copyright {
    color: #444444;
    font-size: 12px;
    font-weight: 300;
    margin-top: 32px;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  50% {
    opacity: .5;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}